

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
  padding-top: 30px;
}

.title_title__mJ8OQ {
  color: var(--black-1);
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  margin: 2rem auto 1.5rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}



.app_app__wrapper__{
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}

.app_appHeader__{
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.button_button--primary__09xDJ {
  background-color: #f58733;
  color: var(--white);
}

.option-color:hover{
  background-color: #f58733;

}

.todo-element{
  display: flex;
}

.todo-element-icon{
  height: 24px;
  margin-left: 16px;
  margin-top: 6px;
}

.todo-element-icon:hover {
  background-color: #f58733;
}

.button_button__zbfSX {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  height: auto;
  overflow: hidden;
  padding: 0.7rem 2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.button_button__select__ {
  background-color: var(--bg-3);
  border: none;
  color: var(--black-2);
  cursor: pointer;
  padding: 1rem;
  width: 165px;
}

.button_button__abc{
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  height: auto;
  overflow: hidden;
  padding: 0.7rem 2rem;
  text-decoration: none;
  text-transform: capitalize;
}



@media only screen and (max-width: 768px){
  .app_content__wrapper__ {
    padding: 1.5rem;
  }
}

.app_content__wrapper__ {
  background-color: var(--bg-2);
  border-radius: 12px;
  padding: 1rem;
}

.app_emptyText__ {
  background-color: var(--gray-2);
    border-radius: 8px;
    color: var(--black-2);
    font-size: 1rem;
    font-weight: 500;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: 80%;
    margin-left: 0%;
    margin-bottom: 10px;
}

.todoItem_item__fnR7B {
  align-items: center;
  background: var(--white);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.todoItem_todoDetails__zH8Q3 {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.todoItem_texts__-ozZm {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.todoItem_todoText--completed__gEH\+W {
  opacity: .7;
  text-decoration: line-through;
}


.todoItem_todoText__j68oh {
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  word-break: break-all;
}

.todoItem_time__08Ivc {
  color: black;
  display: block;
  font-size: 0.7rem;
  font-weight: 400;
  margin-top: 0px;
}

.todo-chck-container{
  display: flex;
}

.todo-chck{
  margin-top: 15px;
    margin-left: 14px;
    margin-right: 21px;
    transform: scale(1.5);
    cursor: pointer;
}

.line-thorugh{
  text-decoration-line: line-through;
}