* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
	--primaryPurple: #646ff0;
	--black-1: #646681;
	--black-2: #585858;
	--bg-1: #f8f8ff;
	--bg-2: #ecedf6;
	--bg-3: #cccdde;
	--gray-1: #eee;
	--gray-2: #dedfe1;
	--black: black;
	--white: white;
}

body {
	font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg-1);
}


html,
body {
  height: 100%;
}


.App {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 3px 10px #00000017;
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 30px;
  text-align: center;
  width: 450px;
}

.App > .logo {
  max-width: 90%;
}

.App > .form {
  margin-bottom: 45px;
  margin-top: 30px;
}

.my-input-group {
  margin-bottom: 20px;
}


.my-input-group > label,
.my-input-group > input {
  font-family: "Roboto", sans-serif;
  max-width: 420px;
  text-align: left;
  width: 80%;
  padding-bottom: 3px;
}

.my-input-group > label {
  color: #676767;
  display: inline-block;
  margin-bottom: 5px;
}

.my-input-group > input {
  background: #f2f2f5;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  color: #676767;
  font-size: 16px;
  outline: 0;
  padding: 10px 15px;
  transition: all 0.3s;
}

.my-input-group > input:focus {
  background: #fff;
  border-color: #c4c4c4;
}

.my-input-group > input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
}

.my-input-group-last{
  margin-bottom: 32px;
}

.my-input-group-register{
  margin-bottom: 26px;
}

.login-btn {
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  max-width: 420px;
  outline: 0;
  padding: 11px 0;
  transition: background 0.3s;
  width: 80%;
}

button.primary {
  background: #f58733;
}

button.primary:hover {
  background: #ea6c0b;
}

button.secondary {
  background: #c1d7aa;
}

button.secondary:hover {
  background: #a8c787;
}

.link1 {
  text-align: left;
  padding-left: 47px;
  padding-top: 12px;
  margin-top: 13px;
}

.header{
  margin-top: 0%;
  background-color: aqua;
  width: 100%;
  height: 45px;
  display: flex;

}

.header-item{
  line-height: 45px;
  margin-left: 10px;
  padding-right: 10px;
}

.parent{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}


.table-container{
  font-family: sans-serif;
 overflow: hidden;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: flex-start;
}

.content-table {
 border-collapse: collapse;
 margin: 25px 0;
 font-size: 1rem;
 min-width: 400px;
 border-radius: 5px 5px 0 0;
 overflow: hidden;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.content-table thead tr {
 background: var(--main-color);
 color: #fff;
 text-align: left;
 font-weight: bold;
}

.content-table th,
.content-table td {
 padding: 0.5rem 0.7rem;
}
:root {
 --main-color: #009879;
}
.content-table tbody tr {
 border-bottom: 1px solid #dddddd;
 transition: all 0.1s ease-in;
}

.content-table tbody tr:nth-of-type(even) {
 background: #f3f3f3;
}

.content-table tbody tr:last-of-type {
 border-bottom: 2px solid var(--main-color);
}

.content-table tbody tr:hover,
.content-table tbody tr.active-row:hover {
 background: #dddddd;
}

.navbar-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#f58733;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 8%;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
  padding: 10px;
}
a {
  text-decoration: none;
}
.navbar-1 a {
  color: #fff;
}
.navbar-1 .log {
  font-weight: 400;
}
